<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Logo linking to the home page -->
        <ion-button (click)="logoClick()" fill="clear">
          <ion-img src="assets/rclogo.jpeg" alt="App Logo" class="app-logo"></ion-img>
        </ion-button>
      </ion-buttons>
      <ion-title>EduRate</ion-title>

      <div class="header-content" *ngIf="loggedInUserName">
        <div class="user-info">Welcome, {{ loggedInUserName }}!</div>
        <ion-button color="danger" size="small" (click)="logout()" fill="outline" class="logout-button">
          Logout
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
