<ion-header>
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome Admin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Add functionalities for admin tasks -->
      <ion-button expand="full" routerLink="/manage-students">Manage Students</ion-button>
      <ion-button expand="full" routerLink="/manage-lecturers">Manage Lecturers</ion-button>
      <ion-button expand="full" routerLink="/feedback-list">View Feedback</ion-button>
      <ion-button expand="full" routerLink="/feedback-management">Manage Feedback</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
