<ion-header>
  <ion-toolbar>
    <ion-title>Student Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome Student</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Existing functionalities for viewing lectures or submitting feedback -->
      <ion-button routerLink="/feedback">Submit Feedback</ion-button>
      <ion-button routerLink="/feedback-list">View Feedback</ion-button>

      <!-- New button to view ratings graph -->
      <ion-button routerLink="/ratings-graph">View Ratings Graph</ion-button>
      <ion-button routerLink="/leaderboard">View Leaderboard</ion-button>

      <ion-button routerLink="/edit-profile">Edit Profile</ion-button>


    </ion-card-content>


  </ion-card>
</ion-content>