<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lecture Rating Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
    <h2>Welcome to the Lecture Rating Application!</h2>
    <p>Your feedback matters! Please login or register to submit feedback.</p>

    <ion-button expand="full" [routerLink]="['/login']">Login</ion-button>
    <ion-button expand="full" color="secondary" [routerLink]="['/register']">Register</ion-button>
  
  
</ion-content>
